<!Doctype html>
<html lang="en">
{%load static%}

<head>
  <meta charset=utf-8>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='{%static 'css/style.css'%}'>
  <link rel='stylesheet' type='text/css' media='screen' href='{%static 'css/main.css'%}'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id='bg' style="background-image: url('{%static 'images/dbg.png'%}');">
{% include 'nav.html' %}
<h1 style="background-color:none !important;"><b><u>DUAS</h1></b></u>
<h2><b>DUA:1</h2></b>
  <section class="header">
<div class="row"> 
    <div class="column">

      <div class="imageBox">
        <img  class="image" src="../static/images/DI1.png" >
      </div>

      <div class="imageBox">
        <video  controls>
            <source src="../static/videos/DV1.mp4" type="video/mp4">
            <source src="DV1.ogg" type="video/ogg">
            </video>

          </div>
    </div>
    <h2 ><b>DUA:2</h2></b>
    </div>
    <div class="column">
      <div class="imageBox">
        <img src="../static/images/DI2.png" style="width:60%; margin-top:0%">
        <button  class="AddToFav" id="AddToFav">Fav</button>
        <video controls>
            <source src="../static/videos/DV2.mp4" type="video/mp4">
            <source src="DV2.ogg" type="video/ogg">
            </video>
          </div>
        </div>
<h2><b>DUA:3</h2></b>
    <div class="column">

        <img  src="../static/images/DI3.png" style="width:60%; height:50%">
        <video  controls>
            <source src="../static/videos/DV3.mp4" type="video/mp4">
            <source src="DV3.ogg" type="video/ogg">
            </video>
<h2><b>DUA:4</h2></b>
    <div class="column">
        <img src="../static/images/DI5.png" style="width:60%; height:50%">
        <video  controls>
            <source src="../static/videos/DV5.mp4" type="video/mp4">
            <source src="DV5.ogg" type="video/ogg">
            </video>
<h2><b>DUA:5</h2></b>
    <div class="column">
        <img src="../static/images/DI6.png" style="width:60%; height:50%">
        <video  controls>
            <source src="../static/videos/DV6.mp4" type="video/mp4">
            <source src="DV6.ogg" type="video/ogg">
            </video>
<h2><b>DUA:6</h2></b>
    <div class="column">
        <img src="../static/images/DI7.png" style="width:60%; height:50%">
        <video  controls>
            <source src="../static/videos/DV7.mp4" type="video/mp4">
            <source src="DV7.ogg" type="video/ogg">
            </video>
<h2><b>DUA:7</h2></b>
    <div class="column">
        <img src="../static/images/DI8.png" style="width:60%; height:50%">
        <video  controls>
            <source src="../static/videos/DV8.mp4" type="video/mp4">
            <source src="DV8.ogg" type="video/ogg">
            </video>
<h2><b>DUA:8</h2></b>
    <div class="column">
        <img src="../static/images/DI9.png" style="width:60%; height:50%">
        <video  controls>
            <source src="../static/videos/DV9.mp4" type="video/mp4">
            <source src="DV9.ogg" type="video/ogg">
            </video>
          
    </div>  
  </div>  
</section>
</body>
<style>
  h1{
    text-align:center;
    color:Gold;
  }
  div{
    text-align:center;
  }
  .column video{
    width:60%;
    margin-top:2%;
  }
  h2{
    font-family:sans serif;
    color:DarkRed;
    font-size:40px;
    text-align:left;
    margin-top:3%;
  }
 
</style>
</html>


