<!Doctype html>
<html lang="en">
{%load static%}
<head>
  <meta charset=utf-8>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='{%static 'css/style.css'%}'>
  <link rel='stylesheet' type='text/css' media='screen' href='{%static 'css/main.css'%}'>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <title> Deen Explorer</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<body id='bg' style="background-image: url('{%static 'images/wg.jpg'%}');">
{% include 'nav.html' %}
<h1 style="background-color:none !important;"><b><u>GIRLS SECTION</h1></b></u>
<h2 <i><b>STEP1</h1></b></i>
<div class="row"> 
    <div class="column">
        <img src="../static/images/GWI1.JPG" style="width:50%; height:50%">
        <video  controls>
            <source src="../static/videos/GW1.mp4" type="video/mp4">
            <source src="GW1.ogg" type="video/ogg">
            </video>
    </div>
    <h2 <i><b>STEP2</h1></b></i>
    <div class="column">
        <img src="../static/images/GWI2.JPG" style="width:50%; height:8% ">
        <video controls>
            <source src="../static/videos/GW2.mp4" type="video/mp4">
            <source src="GW2.ogg" type="video/ogg">
            </video>
            <h2 <i><b>STEP3</h1></b></i>
    <div class="column">

        <img src="../static/images/GWI3.JPG" style="width:50%; height:10%">
        <video  controls>
            <source src="../static/videos/GW3.mp4" type="video/mp4">
            <source src="GW3.ogg" type="video/ogg">
            </video>
<h2 <i><b>STEP4</h1></b></i>
    <div class="column">
        <img src="../static/images/GWI4.JPG" style="width:50%; height:50%">
        <video  controls>
            <source src="../static/videos/GW4.mp4" type="video/mp4">
            <source src="GW4.ogg" type="video/ogg">
            </video>
<h2 <i><b>STEP5</h1></b></i>
    <div class="column">
        <img src="../static/images/GWI5.JPG" style="width:50%; height:20%">
        <video  controls>
            <source src="../static/videos/GW5.mp4" type="video/mp4">
            <source src="GW5.ogg" type="video/ogg">
            </video>
<h2 <i><b>STEP6</h1></b></i>
    <div class="column">
        <img src="../static/images/GWI6.JPG" style="width:50%; height:50%">
        <video  controls>
            <source src="../static/videos/GW6.mp4" type="video/mp4">
            <source src="GW6.ogg" type="video/ogg">
            </video>
<h2 <i><b>STEP7</h1></b></i>
    <div class="column">
        <img src="../static/images/GWI7.JPG" style="width:50%; height:50%">
        <video  controls>
            <source src="../static/videos/GW7.mp4" type="video/mp4">
            <source src="GW7.ogg" type="video/ogg">
            </video>
<h2 <i><b>STEP8</h1></b></i>
    <div class="column">
        <img src="../static/images/GWI8.JPG" style="width:50%; height:50%">
        <video controls>
            <source src="../static/videos/GW8.mp4" type="video/mp4">
            <source src="GW8.ogg" type="video/ogg">
            </video>
            <h2 <i><b>All Steps</h1></b></i>
            <video controls>
              <source src="../static/videos/GW FULL.mp4" type="video/mp4">
              <source src="GW FULL.ogg" type="video/ogg">
              </video>

    </div>  
  </div>  
  
</body>
<style>
  h1{
    text-align:center;
    color:DarkOrange;
    margin-top:2%;
  }
  div{
    text-align:center;
  }
  .column video{
    width:50%;
    margin-top:2%;
  }
  h2{
    font-family:sans serif;
    color:DarkRed;
    font-size:40px;
    text-align:left;
  }
 
</style>
</html>
